.dyck-container {
  position: relative;
  flex-shrink: 1;
}

.dyck-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: monospace;
  font-size: 9pt;
}

.dyck-info {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.selected {
  background-color: lightgrey;
}