/* Dont' show arrows in input boxes with type="number" */
input[type="number"] {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.chain {
  display: flex;
  padding: 10px;
}

.dyck-container {
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
}

.dyck-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Roboto Mono", monospace;
  font-size: 9pt;
}

.dyck-info {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.active {
  background-color: lightgrey;
}

.active-n {
  font-weight: bold;
}

.error pre{
  color: red;
}

#toolbar {
  position: fixed;
  background-color: cornsilk;
  width: 100%;
  z-index: 1;
  padding: 10px;
}

#app {
  padding-top: 60px;
}